.buy-page-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 15;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: 0.5s showModal ease-in;

  .buy-page-modal-back {
    position: absolute;
    width: 65%;
    max-width: 500px;
    min-width: 400px;
    height: 70vh;
    background-color: #000000;
    border-radius: 5px;
    opacity: 1;
    animation: 0.65s showModal ease-in;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    font-family: "Kanit", sans-serif;
    justify-content: space-between;
    -webkit-box-shadow: 0px 0px 81px -12px rgba(255, 255, 255, 1);
    -moz-box-shadow: 0px 0px 81px -12px rgba(255, 255, 255, 1);
    box-shadow: 0px 0px 81px -12px rgba(255, 255, 255, 1);

    .buy-page-modal-back-top-text {
      width: 100%;
      text-align: center;
      color: #ffffff;

      h1 {
        font-size: 3em;
        letter-spacing: 0;
        text-transform: uppercase;
        span {
          font-size: 0.5em;
          text-transform: lowercase;
          letter-spacing: 5px;
          opacity: 0.7;
          display: block;
        }
      }
    }
    .buy-page-modal-back-bottom-text {
      display: flex;
      flex-direction: column;
      justify-content: center;

      .buy-page-modal-back-bottom-text-list {
        padding-top: 25px;
        color: #ffffff;
        width: 100%;
        display: flex;
        justify-content: space-around;
        ul {
          list-style-type: none;
          text-align: center;
          padding: 20px;
          li {
            font-size: 20px;
          }
        }
        h1 {
          padding: 20px;
          font-size: 100px;
        }
      }
    }
    .buy-page-modal-back-bottom-text-button {
      text-align: center;
      padding: 30px;
      button {
        padding: 10px 60px;
        background-color: #fff;
        border: none;
        font-family: "Kanit", sans-serif;
        font-size: 30px;
        border-radius: 5px;
        transition: .3s;

        &:hover {
          cursor: pointer;
          -webkit-box-shadow: 0px 0px 81px -18px rgba(255, 255, 255, 1);
          -moz-box-shadow: 0px 0px 81px -18px rgba(255, 255, 255, 1);
          box-shadow: 0px 0px 81px -18px rgba(255, 255, 255, 1);
        }
        &:focus {
          outline: none;
        }
      }
    }
  }
}

@keyframes showModal {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
