.contacts{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0 100px;
  font-family: "Kanit", sans-serif;
  flex-wrap: wrap;
  animation: .5s contactAppear ease-in;

  .contacts-text{
    width: 40%;
    padding: 20px;
    text-align: right;
  }
  .contacts-form{
    width: 40%;
    form{
      display: flex;
      flex-direction: column;
      border: 1px solid rgba(0,0,0,0.5);
      border-radius: 3px;
      padding: 15px;
      box-sizing: border-box;
      input{
        padding: 10px;
        margin: 5px;
      }
      textarea{
        padding: 10px;
        margin: 10px;
      }
      button{
        margin: 40px;
        padding: 10px 15px;
        border: 1px solid #000000;
        background-color: #ffffff;
        color: #000000;
        border-radius: 5px;
        font-size: 20px;
        transition: .3s;
        &:hover{
          background-color: #000000;
          color: #ffffff;
          cursor: pointer;
        }
        &:focus{
          outline: none;
        }
      }
    }
  }
}

@keyframes contactAppear {
  0%{
    opacity: 0;
  } 100%{
  opacity: 1;
      }
}
