.content-pane {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;

  .scroll {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 3;

    .content-pane-section {
      width: 100%;
    }
  }

  .content-pane-title {
    text-align: center;
    position: fixed;
    z-index: 4;
    margin: 0 auto;
    width: 100%;
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.6);
    background-color: #ffffff;
    height: 30px;
    animation: 1s topShish ease-in;
    transition: .3s;
    h1 {
      line-height: 30px;
      font-family: "Kanit", sans-serif;
      font-size: 16px;
      letter-spacing: 2px;
    }
  }
  .content-pane-section-1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    height: 100vh;

    .content-pane-section-1-img {
      width: 30%;
      margin-right: auto;
      margin-left: auto;
      text-align: center;
      flex: 3;
      display: flex;
      justify-content: center;
      align-items: center;
      animation: 0.5s fadeIn ease-in;

      img {
        max-width: 100%;
        display: block;
        height: auto;
      }
    }

    .content-pane-section-1-text {
      width: 100%;
      font-size: 18px;
      display: flex;
      flex: 1 1;
      border-bottom: 1px solid rgba(0, 0, 0, 0.6);
      animation: 0.5s vertLines ease-in;
      position: relative;
      p {
        font-family: "Kanit", sans-serif;
        font-weight: 700;
        width: calc(100% - 500px);
        letter-spacing: 2px;
        min-width: 400px;
        text-align: right;
        bottom: 50px;
        right: 150px;
        position: absolute;
        z-index: 5;
      }
    }
  }
  .content-pane-section-2 {
    background-color: #f9f9f9;
    overflow: hidden;
    border-bottom: 1px solid rgba(0, 0, 0, 0.6);
    .active {
      background-color: #000000;
      color: #ffffff;
    }
    h1 {
      font-size: 20px;
      opacity: 0.6;
      text-align: right;
    }
    .content-pane-section-2-gifs-app {
      width: 100%;
      padding: 100px 0;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      .content-pane-section-2-gifs-app-feature-list {
        width: 20%;
        height: 320px;
        margin-right: 5px;
        font-family: "Kanit", sans-serif;

        ul {
          width: 100%;
          text-align: center;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          .selected {
            background-color: #000000;
            color: white;
          }
          li {
            list-style-type: none;
            width: 100%;
            padding: 5px 0;
            border: 1px solid #000000;
            margin: 1px 0;
            transition: .3s;
          }
          li:first-child {
            border-radius: 3px 3px 0 0;
          }

          li:last-child {
            border-radius: 0 0 3px 3px;
          }
          li:hover {
            background-color: #000000;
            color: white;
            cursor: default;
          }
        }
      }

      .content-pane-section-2-gifs-app-feature-show {
        width: 45%;
        height: 400px;
        overflow: hidden;
        margin-left: 15px;

        /* background-color: #000; */
        transition: .3s;
        .content-pane-section-2-gifs-app-feature-show-img {
          border-radius: 5px;
          border: 1px solid #000000;
          overflow: hidden;
          transition: .5s;
          position: relative;
          z-index: 10;
          img {
            max-width: 100%;
            max-height: 100%;
            transform: scale(1.1);
          }

          .lds-dual-ring {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }
          .lds-dual-ring:after {
            content: " ";
            display: block;
            width: 46px;
            height: 46px;
            margin: 1px;
            border-radius: 50%;
            border: 5px solid #fff;
            border-color: #fff transparent #fff transparent;
            animation: lds-dual-ring 1.2s linear infinite;
          }
          @keyframes lds-dual-ring {
            0% {
              transform: rotate(0deg);
            }
            100% {
              transform: rotate(360deg);
            }
          }

        }
        .loading-amine {
          height: 300px;
          display: flex;
          justify-content: center;
        }
        h1 {
          font-family: "Kanit", sans-serif;
        }
      }

    }
  }
  .content-pane-section-3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
    .table-title h1 {
      margin: 15px;
      font-family: "Kanit", sans-serif;
      opacity: 0.6;
      font-size: 25px;
      align-self: flex-start;
    }
    .table-content{
      width: 75%;
      margin-bottom: 25px;
      min-width: 600px;

      table {
        margin: auto;
        text-align: center;
        border-collapse: collapse;
        border-spacing: 5px;
        font-family: "Kanit", sans-serif;
        thead{
          tr{
            border-bottom: 1px solid #000000;
          }
         th{
           background-color: #000000;
           color: #ffffff;
         }
          tr th{
            height: 45px;
            &:first-child{
              border-top-left-radius: 5px;
            }
            &:last-child{
              border-top-right-radius: 5px;
            }
          }
        }
        tbody{
          border-bottom: 1px solid #000000;
          font-size: 15px;
          td:nth-child(2){
            width: 60%;
          }
          td:nth-child(1){
          width: 20%;
        }
        }
        & tr, td{
          padding: 10px;
        }
        //& tr:nth-child(even){
        //  background-color: #bdc3c7;
        //}
        //& tr:nth-child(odd){
        //  background-color: #ecf0f1;
        //}
      }
    }

  }

  .content-pane-section-4{
    width: 100%;
    height: 100vh;
    border-bottom: 1px solid rgba(0, 0, 0, 0.6);
  }

}
.scrolled{


  .content-pane-title {
    background-color: black;
    color: #fff;
    -webkit-box-shadow: 0px 0px 28px -7px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 28px -7px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 28px -7px rgba(0,0,0,0.75);
  }
}

$base-spacing-unit: 24px;
$half-spacing-unit: $base-spacing-unit / 2;

$color-alpha: #1772FF;
$color-form-highlight: #EEEEEE;




.table {
  width: 80%;
  margin-bottom: 50px;
  border-bottom: 1px solid rgba(0,0,0,0.5);
  transition: .3s;

  .table-header {
    display:flex;
    width:100%;
    background:#000;
    padding:($half-spacing-unit * 1.5) 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

  }
  .table-content{
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
  }
  .table-row {
    display:flex;
    padding: 10px 0;
    font-family: 'Kanit', sans-serif;

    &:nth-of-type(odd) {
      background:$color-form-highlight;
    }
    &:last-child{
      border-bottom-right-radius: 5px;
      border-bottom-left-radius: 5px;
    }
  }

  .table-data, .header__item {
    flex: 1 1 20%;
    text-align:center;
    display: inherit;
    flex-direction: column;
    justify-content: center;
    font-size: 12px;
  }
  .table-data:first-child{
    width: 20%;
  }
  .header__item {
    text-transform:uppercase;
    font-family: 'Kanit', sans-serif;
    color: #fff;
  }

}



//@media screen and (max-width: 870px) {
//  .content-pane-section-1-text {
//    flex: 1.5 1;
//  }
//}

//@media screen and (max-width: 960px) {
//  .content-pane .content-pane-section-1 .content-pane-section-1-img {
//    flex: 1;
//  }
//}

@media screen and (max-width: 768px) {
  .table{
    width: 70%;
    transition: .3s;
  }
  .left-pane {
    width: 75px;
    .eliot-logo{
      a{
        font-size: 25px;
      }
    }
  }
  .left-pane .buy-button button {
    font-size: 0.8em;
  }
  .right-pane .right-pane-menu {
    flex: 1;
  }
  .right-pane {
    padding: 10px 5px;
  }
  .right-pane img {
    width: 45px;
    height: 45px;
  }

  .left-pane .eliot-logo h1 {
    font-size: 25px;
  }


  .content-pane .content-pane-section-2 .content-pane-section-2-gifs-app{
    flex-direction: column;

    .content-pane-section-2-gifs-app-feature-list{
      display: flex;
      flex-direction: column;
      width: 60%;
      height: auto;
      justify-content: center;
      margin-top: 15px;

      .content-pane-section-2-gifs-app-feature-list-uls{
        display: flex;
        flex-direction: row;

        ul{
          margin: 2px;

          li{
            transition: .3s;
            font-size: 14px;
            height: 20px;
            line-height: 20px;

          }
        }
      }
    }
    .content-pane-section-2-gifs-app-feature-show{
      margin: 15px 0;
      width: 60%;
      height: 300px;
    }
  }
}

@media screen and (max-width: 700px) {
  .left-pane{
    animation:  0.5s hideLeftMenu forwards;
  }
  .right-pane{
    animation: 0.5s hideRightMenu forwards;
  }
  .content-pane-section-1-img{
    flex: 1 1;
  }

  .content-pane {
    .content-pane-section-1 {

      .content-pane-section-1-img{
        flex: 1;
      }
      .content-pane-section-1-text{
        p{
          width: 100%;
          position: initial;
          padding: 20px;
        }
      }

    }
  }

}
//@media screen and (max-width: 1090px) {
//  .content-pane .content-pane-section-1 .content-pane-section-1-img {
//    flex: 1.4;
//    img{
//      width: 125%;
//    }
//  }
//
//}

//@media screen and (max-width: 940px) {
//  .content-pane .content-pane-section-1 .content-pane-section-1-img {
//    flex: 1.25;
//  }
//}

@keyframes vertLines {
  0% {
    margin-bottom: -100vh;
    opacity: 0;
  }

  100% {
    margin-bottom: 0;
    opacity: 1;
  }
}
@keyframes sideMenu {
  0%{
    right: -200px;
  }100%{
        right: 0;
           }
}

@keyframes hideLeftMenu {
  to{
      left: -200px;
  }
}
@keyframes hideRightMenu {
  to{
    right: -200px;
  }
}
@keyframes topShish {
  0%{
    top: -50px;
  }100%{
      top: 0;
    }
}
@keyframes fadeIn {
  0%{
    opacity: 0;
  }100%{
  opacity: 1;
           }
}

@keyframes leftShish {
  0%{
    left: -100px;
  }100%{
      left: 0;
    }
}

@keyframes leftShish2 {
  0%{
    left: -200px;
  }100%{
     left: 0;
   }
}

