*{
  margin: 0;
  padding: 0;
}

.eliot-app{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@font-face {
  font-family: 'Kanit';
  font-style: normal;
  font-weight: 400;
  src: url('../../../static/fonts/kanit.ttf');
}