
.left-pane{
  width: 150px;
  height: 100vh;
  background-color: white;
  position: fixed;
  border-right: .5px solid black;
  left: 0;
  z-index: 5;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  animation: .5s leftShish linear;
  transition: .3s;


  .eliot-logo{
    text-align: center;
    font-size: 35px;
    margin: 10px;
    a{
      font-family: 'Kanit', sans-serif;
      text-align: center;
      margin-top: 20px;
      animation: 1s fadeIn linear;
      transition: .3s;
      color: #000000;
      text-decoration: none;
    }
    a:hover{
      cursor: pointer;
    }

  }



  .left-pane-arrow{
    text-align: center;

    .arrow{
      width: 50%;
      height: 60vh;
      border-right: 1px solid #000000;
      animation: .5s fadeIn linear;

    }

  }

  .buy-button{
    text-align: center;
    margin-bottom: 40px;
    button,
    button::after {
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s;
    }

    button {
      background: none;
      border: 1px solid #000;
      border-radius: 10px;
      color: #000;
      display: block;
      margin: 1em auto;
      font-size: 1.5em;
      padding: 7px 12px;
      position: relative;
      text-transform: uppercase;
      &:focus{
        outline: none;
      }
    }

    button::before,
    button::after {
      background: #000;
      content: '';
      position: absolute;
      z-index: -1;
    }

    button:hover {
      cursor: pointer;
      transform: scale(1.1);
      color: #ffffff;
      a{
        color: #fff;
      }
    }

    .btn-5 {
      overflow: hidden;
      a{
        text-decoration: none;
        font-size: 20px;
        color: #000000;
        .active{
          background-color: black;
          color: #ffffff;
        }
      }
    }
    
    .btn-5::after {
      height: 135%;
      left: -45%;
      top: 0;
      transform: skew(35deg);
      transition-duration: 0.6s;
      transform-origin: top left;
      width: 0;
    }

    .btn-5:hover:after {
      height: 100%;
      width: 145%;
    }

    .wants{
      background-color: #000000;
      color: #ffffff;
      transform: scale(1.1);
    }
  }

}

.scrolled{

  .left-pane{
    width: 75px;

  }
  .eliot-logo a{
    font-size: 25px;
  }

  .buy-button button{
    font-size: 0.8em;
  }


}