.more-features{
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: baseline;
  align-content: center;
  flex-direction: row;
  font-family: "Kanit", sans-serif;

  .more-features-content{
    padding: 50px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  h1{
    font-size: 20px;
  }
  p{
    font-size: 15px;
  }
  .more-features-column-item{
    width: 250px;
    margin: 20px;
    text-align: center;
  }
}