.reg-log-wrapper {
  position: fixed;
  z-index: 16;
  background: #ffffff;
  border: 1px solid #000;
  right: 130px;
  top: 10px;
  border-radius: 5px;
  transition: .5s;
  -webkit-box-shadow: 0px 0px 32px -9px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 32px -9px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 32px -9px rgba(0, 0, 0, 0.75);
  font-family: "Kanit", sans-serif;
  animation: .3s contactAppear ease-in;
  .reg-log-wrapper-header {
    padding: 10px;
    h1 {
      font-size: 20px;
    }
  }
  .login-wrapper {
    width: 300px;

    .login-wrapper-icons {
      display: flex;
      justify-content: space-around;
      align-items: center;
      height: 75px;
      width: 100%;

      img {
        width: 50px;
        height: 50px;
        opacity: 0.75;
        &:hover {
          cursor: pointer;
          opacity: 1;
        }
      }
    }

    .login-wrapper-delimiter {
      height: 25px;
      display: flex;
      justify-content: center;
      align-items: center;
      opacity: 0.6;
      margin-top: 20px;

      span {
        width: 30%;
        height: 1px;
        background-color: #000000;
      }
      h1 {
        font-size: 15px;
        padding: 20px;
      }
    }
    .login-wrapper-inputs {
      display: flex;
      flex-direction: column;
      padding: 25px;
      input{
        margin-top: 5px;
        padding: 10px 5px;
        border: 0;
        background-color: #E8E8E8;
        border-radius: 3px;
        transition: .3s;
        &:focus{
          background-color: white;
          border: 1px solid black;
          outline: none;
          padding: 13px 5px;
        }
      }
      button{
        margin-top: 5px;
        padding: 10px 0;
        border: 0;
        border-radius: 3px;
        background-color: #000;
        color: #fff;
        &:hover{
          cursor: pointer;
        }
      }
    }
  }
  .login-wrapper-bottom{
    h1{
      font-size:  15px;
      text-align: center;
      margin-bottom: 25px;
      span{
        color: #1772FF;
        &:hover{
          cursor: pointer;
        }
      }
    }
  }
}

.reg-log-wrapper:after {
  left: 100%;
  top: 40px;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border: 15px solid transparent;
  border-left-color: #000;
  margin-top: -30px;
}

.scrolled .reg-log-wrapper {
  right: 85px;
}