.right-pane {
  height: 100vh;
  background-color: white;
  position: fixed;
  right: 0;
  border-left: 0.5px solid black;
  z-index: 5;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  padding: 20px;
  animation: 0.5s sideMenu ease-in;
  transition: .3s;

  .right-pane-user-avatar {
    width: 100%;
    text-align: center;
    svg {
      width: 50px;
      height: 50px;
      transition: .3s;
    }
    &:hover {
      cursor: pointer;
    }
  }

  .right-pane-menu {
    width: 100%;

    ul li {
      list-style-type: none;
      text-align: center;
      padding: 0 5px;
      margin: 5px 0;
      transition: .3s;

      a {
        text-decoration: none;
        color: #000;
        font-size: 20px;
        font-family: 'Kanit', sans-serif;
        transition: .3s;

        &:hover {
          border-bottom: 1px solid #000000;
        }
      }

    }
    .selected {
      border-bottom: 1px solid #000000;
    }
  }
  .right-pane-social {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 30px;
    a {
      margin: 5px 0;
      bottom: 0;
      transition: .3s;
    }

    svg {
      width: 30px;
      height: 30px;
    }

  }
}

.scrolled {
  .right-pane {
    padding: 10px 2px;

    .right-pane-menu {
      flex: 2 1;

      ul {
        li {
          transform: rotate(90deg);
          margin: 50px 0;
          padding: 0;
        }
      }
    }
  }
}